<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">

<title>Insurance</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<!-- Loading third party fonts -->
<link
	href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|"
	rel="stylesheet" type="text/css">
<link href="/fonts/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="/fonts/lineo-icon/style.css" rel="stylesheet"
	type="text/css">

<!-- Loading main css file -->
<link rel="stylesheet" href="/css/style.css">

<style type="text/css">
li:hover {
	background-color: blue;
	border-radius: 30px;
	text-align: center;
}
</style>
</head>
<body>
	<div id="site-content">
		<header class="site-header">
			<div class="top-header" style="background-color: activecaption;">

				<div class="container">
					<a href="#" id="branding"> <img src="/images/logo.png"
						alt="Company Name" class="logo">
						<div class="logo-text" style="margin-top: 10px">
							<h1 class="site-title" style="font-size: 29px;">Smart Life</h1>
							<h3>Insurance Company Limited</h3>
						</div>
					</a>
					<!-- #branding -->

					<div class="right-section pull-right"
						style="margin-top: -10px; margin-left: 40px">
						<h2 style="color: #0056B3">
							Cutomer Panel<br> Customer_No: <span th:text="${id}"></span>
						</h2>
						<!-- <button class="btn btn-danger" ><a href="logout" class="text-white">Logout</a></button> -->


						<form method="get" action="#" th:action="@{/logout}"
							onsubmit="return confirm('Are you sure?');">
							<button class="btn btn-danger" style="margin-left: 20px"
								type="submit" value='log'>Logout</button>
						</form>

						<!-- <a class="btn btn-danger" th:href="@{/logout}">Logout</a> -->
					</div>
					<div class="right-section pull-right" style="margin-top: 25px">
						<a href="#" class="phone"
							style="font-size: 15px; font-weight: bold"><img
							src="/images/icon-phone.png" class="icon">+00801626-609636</a>
						<br>
						<!--<form action="#" class="search-form">
								<input type="text" placeholder="Search...">
								<button type="submit"><img src="images/icon-search.png" alt=""></button>
							</form>-->
						<div class="social-links" style="margin-top: 5px">
							<a href="#"><i class="fa fa-facebook text-info"></i></a> <a
								href="#"><i class="fa fa-twitter text-info"></i></a> <a href="#"><i
								class="fa fa-google-plus text-info"></i></a> <a href="#"><i
								class="fa fa-pinterest text-info"></i></a>
						</div>

					</div>

				</div>
				<!-- .container -->
			</div>
			<!-- .top-header -->

			
			
			
			<!-- 2nd-header -->
			<nav class="navbar navbar-expand-lg navbar-light bg-danger">

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse"
					style="font-weight: bold; font-size: 20px;" id="navbarNavDropdown">
					<ul class="navbar-nav" style="margin-left: 30px">

						<li class="nav-item" style="margin-left: 40px"><a
							class="nav-link" href="#"
							th:href="@{/customer/manage/{id}(id=${id})}" style="color: white">Manage
								Accounts</a></li>
						<li class="nav-item" style="margin-left: 40px"><a
							class="nav-link" href="#"
							th:href="@{/customer/addprim/{id}(id=${id})}"
							style="color: white">Add Primiuam</a></li>
						<li class="nav-item" style="margin-left: 40px"><a
							class="nav-link" th:href="@{/calculator}"
							style="color: white">Primium Calculator</a></li>
							
							
							
							
							<li class="nav-item dropdown" style="margin-left: 40px"><a
							class="nav-link dropdown-toggle" href="#" style="color: white"
							id="navbarDropdownMenuLin" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Claiming </a>
							<div class="dropdown-menu bg-danger"
								aria-labelledby="navbarDropdownMenuLin">
								<a class="dropdown-item " href="#"
									th:href="@{/customer/claim/{id}(id=${id})}"
									onMouseOver="this.style.color='black'"
									onMouseOut="this.style.color='white'" style="color: white;">General Claim</a>
									
								<a class="dropdown-item " href="#"
									th:href="@{/customer/dethclaim/{id}(id=${id})}"
									onMouseOver="this.style.color='black'"
									onMouseOut="this.style.color='white'" style="color: white;">Death Claim</a>
								
							</div></li>
							
							
							
							<!-- 
							<li class="nav-item" style="margin-left: 40px"><a class="nav-link" href="#"
							th:href="@{/customer/claim/{id}(id=${id})}" style="color: white">Claim Policy</a></li>
							
							<li class="nav-item" style="margin-left: 40px"><a class="nav-link" href="#"
							th:href="@{/customer/dethclaim/{id}(id=${id})}" style="color: white">Death Claim</a></li> -->
					</ul>
				</div>
			</nav>
		</header>
	</div>

	<!-- .site-header -->




	<!-- if Customer panding massage -->
	<div style="margin-top: 15px" th:if="${terget}=='Sorry'">
		<h1 class="text-center text-danger ">
			<span th:text="${terget}"></span>!! Your Account is still Pending! <br>
			To Activate Your Account Plz Contact to Admin
		</h1>
	</div>
	<!-- if Customer panding massage -->
	
	

   
<!-- Clime massage -->
	
	<div class="text-center" th:if="${claim!=null}" style="margin-top: 15px">
	<h1 class="text-center text-success"><span th:text="${claim1}"></span></h1>
		<h1 class="text-center text-danger"><span th:text="${claim2}"></span></h1>
	</div>
<!-- Clime massage -->
	
	
	
<!-- edit error masage -->
	
	<div class="text-center" th:if="${none!=null}" style="margin-top: 15px">
		<h1 class=" text-center text-danger" >
			<span th:text="${none}"></span> 
		</h1>
	</div>
<!-- edit error masage -->
	
	
	
	
	
	
	<!-- Add primium massage -->
	
	<div class="text-center"  style="margin-top: 15px">
		<h1 class=" text-center text-danger" th:if="${DethClaim!=null}">
			<span th:text="${DethClaim}"></span> 
		</h1>
		<h1 class=" text-center text-danger" th:if="${Claim!=null}">
			<span th:text="${Claim}"></span> 
		</h1>
		<h1 class=" text-center text-danger" th:if="${disclosed!=null}">
			<span th:text="${disclosed}"></span> 
		</h1>
	</div>
<!-- Add primium massage -->
	
	
	
	
<!-- Custmer Details -->
	
	<div class="" th:if="${terget2!=null}"
		style="margin-top: 20px; color: black; font-weight: bold">
		<div class="row text-center">
			<!-- <div class="col-md-2"></div> -->
			<div class="col-md-12 ">
				<h1 class=" text-center" style="color: purple;">
					<u><span th:text="${terget2}"></span></u>
				</h1>

				<table border="1" class="table table-striped table-responsive-md"
					style="max-width: 98%; overflow: auto; margin-left: 15px">
					<thead>
						<tr
							style="background-color: black; color: yellow; font-size: 16px">

							<th>Name</th>
							<th>Address</th>
							<th>MobileNo.</th>
							<th>Email</th>
							<th>Gender</th>
							<th>Policy</th>
							<th>Duration</th>
							<th>Prm.Metd</th>
							<th>Pyed_Prm</th>
							<th>Account</th>
							<th>SumAssured</th>
							<th>AgntId</th>
							<th>Position</th>
							<th>Action</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="cust :${mycustomer}" th:class="${cust.position}=='running'? bg-white: bg-danger">

							<td th:text="${cust.custname}"></td>
							<td th:text="${cust.custaddress}"></td>
							<td th:text="${cust.custnumber}"></td>
							<td th:text="${cust.custemail}"></td>
							<td th:text="${cust.custgender}"></td>
							<td th:text="${cust.policytype}"></td>

							<td th:text="${cust.duration}"></td>

							<td th:text="${cust.prim_method}"></td>
							<td th:text="${cust.payed_prim}"></td>
							<td th:text="${cust.account}"></td>
							<td th:text="${cust.policyAmount}"></td>
							<td th:text="${cust.agent.getId()}"></td>
							<td th:text="${cust.position}"></td>
							<td><a th:href="@{/customer/edit/{id}(id=${id})}"
								class="btn btn-warning">Edit</a></td>

						</tr>


					</tbody>

				</table>
				
			
			</div>

		</div>
	</div>
	
		
	<!-- Custmer Details -->






	<!-- Add customer primium  -->
	<div th:if="${terget}=='addPrim'" style="margin-top: 20px">


		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 "
					style="background-color: white; margin-top: 5px; opacity: 0.9; color: black; font-weight: bold; border: olive solid 5px; padding-bottom: 10px">
					<form action="#" th:action="@{/customer/payedprimium}"
						method="post" style="padding: 10px;">
						<h1 class="text-center " style="padding-top: 10px;">
							<b>Add Primium <i class="fas fa-user-plus"></i></b>
						</h1>
					<div>
						<h3 th:if="${msg1!=null}" class="text-center text-success">
							<span th:text="${msg1}"></span>
						</h3>
						
						<h3 th:if="${msg2!=null}" class="text-center text-danger">
							<span th:text="${msg2}"></span>
						</h3>
					</div>
					
						
						<input type="text" th:value="${agid}" name="agid" hidden="true">

						<div class="form-group col-sm-12 col-md-6">
							<label for="exampleInputname">Id</label> <input type="text"
								th:value="${cid}" class="form-control" name="custid"
								id="exampleInputname" placeholder="Enter Name" readonly>
						</div>

						<div class="form-group col-sm-12 col-md-6">
							<label for="exampleInputname">Name</label> <input type="text"
								th:value="${cname}" class="form-control" name="name"
								id="exampleInputname" placeholder="name" disabled="disabled">
						</div>

						<div class="form-group col-md-12">
							<label for="exampleInputname">Policy Type</label> <input
								type="text" th:value="${policy}" class="form-control"
								name="policy" id="exampleInputname" placeholder="name"
								disabled="disabled">
						</div>

						<div class="form-group col-md-12">
							<label for="exampleInputname">Primium Amount</label> <input
								type="text" class="form-control" name="payedtk"
								id="exampleInputname" placeholder="pay Primium">
						</div>


						<div class="col-md-6 col-sm-12  text-right">
							<button type="submit" class="btn btn-primary text-center">Done!</button>

						</div>

					</form>
					<div class="col-md-6 col-sm-12">
						<a class="btn btn-danger" th:href="@{/customer/back}"
							style="color: white; font-weight: bold; font-size: 16px"
							id="go-back">Cancel !</a>
					</div>
				</div>

			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script
		src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
	<script src="js/plugins.js"></script>
	<script src="js/app.js"></script>

</body>
</html>